@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montaga&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montaga !important;
}

body {
    background: #000;
    color: #fff;
}

.main {
    margin-left: 100px;
    margin-right: 100px;
    background: #000;
    color: #fff;
}

.nav {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 10px;
    font-weight: 600;
}

.logo {
    font-size: 24px;
    color: #2596BE;
}

.galery {
    font-size: 18px;
    font-weight: bold;
}

.profile {
    width: 130px;
    border-radius: 50%;
}

.content {
    margin: 50px;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.galc {
    width: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}

.hero2 {
    border: 2px solid #262626;
    border-radius: 10px;
    padding: 20px;
}

.text {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(190, 187, 183);
}
h1 {
    font-size: 36px;
    color: #2596BE;
    margin-bottom: 20px;
}